<div class="instagram-card-footer">
  <%= form_with(model: comment) do |form| %>
    <% if comment.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
          <% comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :text, style: "display: none" %>
      <%= form.text_field :text,class:"comments-input",placeholder: "Your comment here..." %>
    </div>
    <div>
      <%= form.text_field :post_id, type:"hidden" %>
      <%= form.text_field :user_id, type:"hidden",value:current_user %>

    </div>
    <div class='btn btn-primary'>
      <%= form.submit class:'btn btn-primary'%>
    </div>
  <% end %>
</div>