<div class="right">
  <div class="col-10 text-center" >
    <h1> <%= @user.username %> </h1>
    <h4> <%= @user.email %> </h4>
    <h1> <%= @user.bio %> </h1>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, style:"width: 50px; height: 50px;" %>
    <% end %>
    <% if current_user.following?(@user) %>
      <%= button_to "Unfollow", unfollow_path(@user)%>
    <% elsif current_user.sent_follow_request_to?(@user) %>
      <%= button_to "Cancel follow request", cancel_path(@user) %>
    <% else %>
      <% if @user.id == current_user.id %>
      <% else %>
        <%= button_to "Follow", follow_path(@user)%>
      <% end %>
    <% end %>

  </br>
    Followers:  
    <%=  current_user.followers.count %>
    Following: 
    <%=  current_user.following.count %>
    <%

  </div>
  <br>
  <br>
  <div >
  <%= render current_user.posts %>
  </div>
</div>
